<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="header::head(~{::title})">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Getting Started: Serving Web Content</title>
        <link href="/css/list.css" rel="stylesheet"></link>
    </head>
    <body>
        <header th:replace="header::header"></header>
        <h1>HOME</h1>
        <a href="user/list">ユーザーリスト</a>
        <a href="book/add">書籍登録</a>
    </body>
</html>